<!-- flex container displaying children as a column -->
<div class="app container-fluid p-0" fxLayout="column">

  <mat-toolbar class="discoveryImage-header">
    <button mat-icon-button (click)="snav.toggle()" *ngIf="isMobileLayout">
      <mat-icon>menu</mat-icon>
    </button>

    <discover-image-header></discover-image-header>
  </mat-toolbar>

  <mat-sidenav-container fxFlex>
    <mat-sidenav #snav [mode]="isMobileLayout ? 'over' : 'side'" [fixedInViewport]="isMobileLayout" [fixedTopGap]="48" [opened]="!isMobileLayout"
      class="filter-sidenav" fxLayout="column" fxLayoutAlign="start stretch">
      <discover-image-image-search-filter></discover-image-image-search-filter>
    </mat-sidenav>

    <mat-sidenav-content>
      <discover-image-image-search-result fxFill></discover-image-image-search-result>
    </mat-sidenav-content>
  </mat-sidenav-container>


  <discover-image-footer></discover-image-footer>

</div>
