<div fxFill fxLayout="column" fxLayoutGap="15px" class="image-search-details" [ngClass.gt-sm]="['gt-sm']" [ngClass.lt-md]="['lt-md']">

  <div fxLayout="row">
    <div>
      <button mat-raised-button color="accent" (click)="goToImageSearchTileView()">
        <i matSuffix class="fa fa-hand-o-left" aria-hidden="true"></i>
        <span>Click here for image search tile view</span>
      </button>
    </div>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15px">
    <div class="image-search-details-img">
      <img [src]="selectedImage?.thumbnail" class="mat-elevation-z3"/>
    </div>

    <div fxFlex class="image-search-details-content">
      <span>Details Section => {{selectedImage?.name}}</span>
    </div>
  </div>

</div>
